<nav class="ucr-navbar">
  {% for item in site.data.navigation %}
    {% if item.menu %}
      <div class="dropdown">
        <a href="#" class="dropbtn">{{ item.text | upcase }}</a>
        <div class="dropdown-content">
          {% for subitem in item.menu %}
            <a href="{{ subitem.href }}">{{ subitem.text | upcase }}</a>
          {% endfor %}
        </div>
      </div>
    {% else %}
      <a href="{{ item.href }}">{{ item.text | upcase }}</a>
    {% endif %}
  {% endfor %}
</nav>
